/*home*/
.beranda{
	background: linear-gradient(to bottom,white,rgb(10, 56, 36));
	max-height: 1000px;
}
.navbar{
	background-color: rgb(10, 56, 36);
    position: fixed !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 999;
    
}
ul li:hover{
	background-color: rgb(88, 123, 88);
}
.bulat{
	width: 400px;
    height: 400px;
	border-radius: 50%;
	display: block;
    margin: auto;
	margin-top: 100px;
}
.judul{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 50px;						
	color: rgb(255, 254, 254);
	text-align: center;																		
}
.text{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;						
	font-size: 25px;						
	color: rgb(255, 254, 254);						
	text-align: center;						
}
.sosmed{
				margin-top: 30px;
				text-align: center;
			}
			.sosmedfoto{
				width: 40px;
   				display: inline-block;
    			margin: 0 10px;
			}
.menu{
					color: rgb(88, 123, 88);
					text-align: center;
					background-color: rgb(255, 244, 231);
					font-family:'playfair display', serif;
				}
.pilihan{
								font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
								font-size: 20px;
								margin-top: 70px;
								color: rgb(79, 118, 79);
							}
							.harga{
								margin:0;
								color: rgb(195, 107, 107);
								font-weight: 700;
							}
							.fotomenu{
								width: 200px;
							}
/*Menu*/
            .beranda1{
				background-color: rgb(255, 244, 231);
		    }
            .menu1{
                margin-top: 50px;
					color: rgb(88, 123, 88);
					text-align: center;
					background-color: rgb(255, 244, 231);
					font-family:'playfair display', serif;
			}
            .pilihan1{
								font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
								font-size: 20px;
								margin-top: 70px;
								color: rgb(79, 118, 79);
							}
							.harga1{
								margin:0;
								color: rgb(195, 107, 107);
								font-weight: 700;
							}
							.fotomenu1{
								width: 200px;
							}
.kopi{
			background-color: rgb(48, 73, 48);
		}
.foto{
						display: right;
						width: 300px;
						border-radius: 12px;
					}
					.menuitem{
						display: flex;
    					justify-content: space-between;
   						border-bottom: 2px solid #d8d2c2;
    					padding: 5px 0;
    					width: 500px;
    					color: white;
    					font-size: 20px;
					}
					.juduldimenu{
						font-family: 'playfair display', serif;
						color: white;
						font-size: 60px;	
					}
					.mood{
						font-family: 'playfair display', serif;
						color: white;
						font-size: 60px;
						text-align: center;
					}
/*Galery*/
.berandagalery{
			background: rgb(255, 244, 231);
            margin-top: 50px;
		}
.judulkecil{
					color: rgb(123, 158, 123);
					font-size: 25px;
					font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
				}
				.judulgalery{
					color: rgb(10, 56, 10);
					font-size: 50px;
				}
				.fotogalery{
					width: 350px;
					border-radius: 12px;
					box-shadow: 0 8px 20px;
				}
				.galery{
					transition: 0.3s;
				}
				.galery img:hover{
    				transform: scale(1.05);
				}
.spotfoto{
							width: 250px;
							border-radius: 12px;
							box-shadow: 0 8px 20px;
						}
						.judulkecilspot{
							font-size: 25px;
							font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
							color: rgb(123, 158, 123);
						}
						.judulspot{
							font-size: 50px;
							font-family:'playfair display', serif;
							color: rgb(10, 56, 10);
						}
						.spot{
							background: linear-gradient(to bottom,rgb(255, 244, 231), rgb(64, 93, 64));
							text-align: center;
							transition: 0.3s;
						}
						.spot img:hover{
    						transform: scale(1.05);
						}
.spotfoto{
							width: 250px;
							border-radius: 12px;
							box-shadow: 0 8px 20px;
						}
						.judulkecilspot{
							font-size: 25px;
							font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
							color: rgb(123, 158, 123);
						}
						.judulspot{
							font-size: 50px;
							font-family:'playfair display', serif;
							color: rgb(10, 56, 10);
						}
						.spot{
							background: linear-gradient(to bottom,rgb(255, 244, 231), rgb(64, 93, 64));
							text-align: center;
							transition: 0.3s;
						}
						.spot img:hover{
    						transform: scale(1.05);
						}
/*kontak*/
.kontak{
      background:
    linear-gradient(rgba(0, 0, 0, 0.721),
                    rgba(0, 0, 0, 0.721)),
    url('g4.jpeg');
    }
.judulkontak{
			font-size: 35px;
			text-align: center;
			margin-top: 50px;
			font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			color: rgb(255, 244, 231)
		}
.jam{
    margin-top: 50px;
			color: rgb(123, 158, 123);
		}
		.imgkontak{
			width: 500px;
			margin-top: 40px;
			border-radius: 20px;
		}
		.whatsapp{
			margin-top: 70px;
			font-size: 20px;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			color: rgb(255, 244, 231);
		}
/*tentang*/
.section {
  display: flex;
  margin-top: -20px;
}

.left {
  background:
    linear-gradient(rgba(88, 123, 88, 0.473),
                    rgb(88, 123, 88, 0.473)),
    url('kontak.jpeg');
  width: 50%;
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left .brand {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-weight: 700;
  color:rgb(255, 255, 255);
}

.left p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 1.9;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 20px; 
  text-align: center;
}

.left .ttd {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.right {
  width: 50%;
  position: relative;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*bgian bwh*/
            .delevery{
				font-family: 'playfair display', serif;
				color: rgb(255, 244, 231);
			}
			.buka{
				margin-top: 40px;
				font-family: 'playfair display', serif;
				color: rgb(255, 244, 231);
			}
			.all{
				background-color: rgb(88, 123, 88);
				text-align: center;
                color: rgb(255, 244, 231);
			}

/*LAPTOP*/
@media (min-width: 1025px){

    .section{
        display: flex;
    }

    .left,
    .right{
        width: 50%;
    }

    .right img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bulat{
        width: 400px;
        height: 400px;
    }
}


/*TABLET*/
@media (max-width:1024px){

    .judul{
        font-size:40px;
    }

    .text{
        font-size:20px;
    }

    .bulat{
        width:300px;
        height:300px;
    }

    .section{
        display:flex;
        flex-direction:column;
    }

    .left,
    .right{
        width:100%;
    }

    .left{
        padding:60px 40px;
    }

    .left p{
        font-size:18px;
    }

    .left .ttd{
        font-size:18px;
    }

    .right img{
        width:100%;
        height:auto;
        display:block;
    }

    .imgkontak{
        width:100%;
    }

    .fotogalery{
        width:280px;
    }

    .spotfoto{
        width:200px;
    }

    .foto{
        width:220px;
    }

    .menuitem{
        width:100%;
        font-size:18px;
    }

    .juduldimenu,
    .mood{
        font-size:45px;
    }
}


/*HP*/
@media (max-width:767px){

    .navbar-brand{
        font-size:18px;
    }

    .judul{
        font-size:30px;
    }

    .text{
        font-size:18px;
        padding:0 15px;
    }

    .bulat{
        width:200px;
        height:200px;
        margin-top:100px;
    }

    .section{
        display:flex;
        flex-direction:column;
        margin-top:-20px;
    }

    .left,
    .right{
        width:100%;
    }

    .left{
        padding:35px 20px;
    }

    .left .brand{
        text-align:center;
    }

    .left p{
        font-size:16px;
        line-height:1.7;
    }

    .left .ttd{
        font-size:16px;
        text-align:center;
    }

    .right img{
        width:100%;
        height:auto;
        display:block;
    }

    .fotomenu,
    .fotomenu1{
        width:140px;
    }

    .menuitem{
        width:100%;
        font-size:16px;
    }

    .judulgalery,
    .judulspot,
    .juduldimenu,
    .mood{
        font-size:32px;
    }

    .judulkecil,
    .judulkecilspot{
        font-size:18px;
    }

    .fotogalery{
        width:100px;
    }

    .spotfoto{
        width:250px;
        margin-top: 20px;
    }

    .imgkontak{
       display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px auto 0;
    }

    .judulkontak{
        font-size:28px;
    }

    .whatsapp{
        font-size:18px;
        margin-top:30px;
    }

    .buka{
        font-size:22px;
    }

    .delevery{
        font-size:16px;
    }
    html, body{
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
}